go 1.20

use (
	./airport-robot
	./animal-magic
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./collatz-conjecture
	./crypto-square
	./darts
	./difference-of-squares
	./election-day
	./elons-toys
	./etl
	./expenses
	./gigasecond
	./gross-store
	./hamming
	./hello-world
	./interest-is-interesting
	./isogram
	./lasagna
	./lasagna-master
	./leap
	./logs-logs-logs
	./luhn
	./matrix
	./meteorology
	./need-for-speed
	./nucleotide-count
	./pangram
	./parsing-log-files
	./party-robot
	./resistor-color
	./reverse-string
	./rna-transcription
	./scrabble-score
	./simple-cipher
	./sorting-room
	./space-age
	./strain
	./the-farm
	./twelve-days
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
