go 1.20

use (
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./card-tricks
	./cars-assemble
	./hello-world
	./lasagna
	./need-for-speed
	./party-robot
	./scrabble-score
	./simple-cipher
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
